.header-top{
    border-bottom: 1px solid #f9c700;
    height: 60px;
    font-size: 16px;
    text-align: right;
    padding: 0 20px;
    .header-top-name{
        line-height: 60px;
        margin-right: 20px;
    }
    .header-top-loginout{
        line-height: 60px;
       
    }

}
.bread-crumb{
    height: 40px;
    padding: 0 20px;
    .bread-crumb-title{
        font-size: 18px;
        line-height: 40px;
        text-align: center;
    }
    .weather{
        line-height: 40px;
        text-align: right;
      
        img{
            margin: 0 10px;
            width: 20px;
            height: 16px;
        }
    }
}